<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUNXmOjO0_f7wzGacYnMl2LfwFpYas5DA</string>
	<key>GCM_SENDER_ID</key>
	<string>513384264398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codingMindsBootstrap</string>
	<key>PROJECT_ID</key>
	<string>coding-minds-bootstrap-7698e</string>
	<key>STORAGE_BUCKET</key>
	<string>coding-minds-bootstrap-7698e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513384264398:ios:5b3d9583aa20e6dc27169f</string>
</dict>
</plist>